on: [pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - 
                name: Checkout
                uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
                with:
                    submodules: true
            -
                name: Setup Java
                uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
                with:
                    distribution: adopt
                    java-version: 21
            -
                name: Checks
                run: bin/gradlew check
